@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background: #777575;
}

.form_user div p {
    font-size: 16px;
    margin-bottom: 6px;
}

.form_user div button {
    padding: 20px;
    font-size: 16px;
    color: black;
}

.btn_show--modal {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_show--modal p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.ant-modal {
    width: 800px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.box_view div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.box_view div p:nth-child(2) {
    font-style: oblique;
}

.box_view div p:nth-child(1) {
    text-transform: lowercase;
    font-style: oblique;
}

.box_view {
    background: #ccc;
    border: 1px solid #000000;
}