
.todo {
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
}

input {
    height: 40px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    transition: border-color 0.3s ease;
}

.btn {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 0, 0);

}

.todo_box {
    display: flex;
    justify-content: space-between;
}

.todo_data .data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo_data p {
    font-style: italic;
    font-size: 16px;
}
.btn2{
    padding: 6px;
}

.logo_react{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.logo_react img {
    width: 120px;
    animation: rotateScale 2s linear infinite; 
}

  @keyframes rotateScale { 
    0% { 
        transform: rotate(0deg) scale(1); 
    } 
    50% { 
        transform: rotate(180deg) scale(1.2); 
    } 
    100% { 
        transform: rotate(360deg) scale(1); 
    } 
} 